In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [2]:
data_raw = pd.read_csv("/home/vault/empkins/tpD/D02/processed_data/SonyCam_processed_data/268/raw_variables/268_t2_20230905/facial/face_expressivity/268_t2_20230905_facemo.csv")
relevant_features = ['frame', ' face_id', ' timestamp', ' confidence', ' success', ' AU01_r',
       ' AU02_r', ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r',
       ' AU10_r', ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r',
       ' AU25_r', ' AU26_r', ' AU45_r', ' AU23_r']

In [19]:
data_df = data_raw[relevant_features]
data_df

,frame,face_id,timestamp,confidence,success,AU01_r,AU02_r,AU04_r,AU05_r,AU06_r,...,AU15_c,AU17_c,AU20_c,AU23_c,AU25_c,AU26_c,AU28_c,AU45_c,AU09_c,AU23_r
0,1,0,0.000,0.93,1,0.86,0.40,1.38,0.16,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2,0,0.033,0.98,1,0.65,0.15,1.14,0.16,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
2,3,0,0.067,0.98,1,0.49,0.01,0.93,0.20,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,4,0,0.100,0.98,1,0.37,0.00,0.68,0.28,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,5,0,0.133,0.98,1,0.25,0.00,0.58,0.33,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69311,69312,0,2310.333,0.88,1,1.54,2.49,1.59,1.07,0.41,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.17
69312,69313,0,2310.367,0.88,1,1.45,2.34,1.63,1.09,0.31,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.06
69313,69314,0,2310.400,0.88,1,1.34,2.07,1.65,1.05,0.21,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.93
69314,69315,0,2310.433,0.88,1,0.85,1.33,1.10,0.76,0.10,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.57
69315,69316,0,2310.467,0.03,0,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [11]:
time_df = pd.read_csv('/home/vault/empkins/tpD/D02/RCT/raw_data/268/268_t2_20230905_app.csv')

In [22]:
time_df

                        timestamp                             label content
0    \n2023-09-05 08:34:43.089650                          start_01     NaN
1    \n2023-09-05 09:13:11.630972                          start_02     268
2    \n2023-09-05 09:13:11.647147                          start_03     NaN
3    \n2023-09-05 09:14:48.395380                      lat_instr_01     NaN
4    \n2023-09-05 09:15:53.194809                      lat_rating_n       4
..                            ...                               ...     ...
513  \n2023-09-05 09:49:04.585617  training_pg_20_post-rating_start    time
514  \n2023-09-05 09:49:06.487551         training_pg_20_rating_n_2       4
515  \n2023-09-05 09:49:08.072807         training_pg_20_rating_p_2       6
516  \n2023-09-05 09:49:08.572316                      training_end     NaN
517                            \n                               NaN     NaN

[518 rows x 3 columns]

In [12]:
timestamps = {
    'start_exp' : 'start_01',
    'latency_start' : 'lat_rating_start_01',
    'latency_end' : 'lat_end',
    'ei_start' : 'ei_rating_start',
    'ei_end' : 'ei_end',
    'coping_start' : 'coping_base-rating_start',
    'coping_end' : 'coping_end',
    'training_start' : 'training_start',
    'training_end' : 'training_end' 
    }

In [13]:
rel_time_df = time_df[time_df['label'].isin(timestamps.values())]

rel_time_df['label'] = rel_time_df['label'].map({v: k for k, v in timestamps.items()})

rel_time_df.reset_index(drop=True, inplace=True)

/tmp/ipykernel_3648262/4238315790.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rel_time_df['label'] = rel_time_df['label'].map({v: k for k, v in timestamps.items()})

In [14]:
rel_time_df['timestamp'] = pd.to_datetime(rel_time_df['timestamp'], errors='coerce')

rel_time_df.sort_values(by='timestamp', inplace=True)

start_exp_index = rel_time_df[rel_time_df['label'] == 'start_exp'].index

if not start_exp_index.empty:
    start_exp_index = start_exp_index[0]

    rel_time_df['time_since_start_exp'] = (rel_time_df['timestamp'] - rel_time_df.loc[start_exp_index, 'timestamp']).dt.total_seconds().round(2)
else:
    rel_time_df['time_since_start_exp'] = float('NaN')

/tmp/ipykernel_3648262/1784971693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rel_time_df['timestamp'] = pd.to_datetime(rel_time_df['timestamp'], errors='coerce')
/tmp/ipykernel_3648262/1784971693.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rel_time_df.sort_values(by='timestamp', inplace=True)
/tmp/ipykernel_3648262/1784971693.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rel_time_df['time_since_start_exp'] = (rel_time_df['timestamp'] - rel_time_df.loc[start_exp_index, 'timestamp']).dt.total_seconds().round(2)

In [15]:
rel_time_df

                    timestamp           label content  time_since_start_exp
0  2023-09-05 08:34:43.089650       start_exp     NaN                  0.00
1  2023-09-05 09:16:10.357284   latency_start     NaN               2487.27
2  2023-09-05 09:19:00.683826     latency_end     NaN               2657.59
3  2023-09-05 09:22:07.745963        ei_start     NaN               2844.66
4  2023-09-05 09:22:16.765584          ei_end     NaN               2853.68
5  2023-09-05 09:27:01.351018    coping_start     NaN               3138.26
6  2023-09-05 09:35:03.542580      coping_end     NaN               3620.45
7  2023-09-05 09:40:17.222667        ei_start     NaN               3934.13
8  2023-09-05 09:40:24.952342          ei_end     NaN               3941.86
9  2023-09-05 09:40:38.721903  training_start    time               3955.63
10 2023-09-05 09:40:38.731827  training_start    time               3955.64
11 2023-09-05 09:49:08.572316    training_end     NaN               4465.48

In [16]:
events = ['latency', 'ei', 'coping', 'training']
event_dfs = {}

for event in events:
    event_start = rel_time_df[rel_time_df['label'] == f'{event}_start']
    event_end = rel_time_df[rel_time_df['label'] == f'{event}_end']
    
    if not event_start.empty and not event_end.empty:
        event_range = data_df[
            (data_df[' timestamp'] >= event_start['time_since_start_exp'].iloc[0]) & 
            (data_df[' timestamp'] <= event_end['time_since_start_exp'].iloc[0])
        ]
        
        event_range.reset_index(drop=True, inplace=True)
        
        event_dfs[event] = event_range

In [11]:
def collect_event_data(rawdata_csv_path, timestamp_csv_path):
   data_raw = pd.read_csv(rawdata_csv_path)
   relevant_features = ['frame', ' face_id', ' timestamp', ' confidence', ' success', ' AU01_r',
      ' AU02_r', ' AU04_r', ' AU05_r', ' AU06_r', ' AU07_r', ' AU09_r',
      ' AU10_r', ' AU12_r', ' AU14_r', ' AU15_r', ' AU17_r', ' AU20_r',
      ' AU25_r', ' AU26_r', ' AU45_r', ' AU01_c', ' AU02_c', ' AU04_c',
      ' AU05_c', ' AU06_c', ' AU07_c', ' AU10_c', ' AU12_c', ' AU14_c',
      ' AU15_c', ' AU17_c', ' AU20_c', ' AU23_c', ' AU25_c', ' AU26_c',
      ' AU28_c', ' AU45_c', ' AU09_c', ' AU23_r']
   data_df = data_raw[relevant_features]
   time_df = pd.read_csv(timestamp_csv_path)
   timestamps = {
   'start_exp' : 'start_01',
   'latency_start' : 'lat_rating_start_01',
   'latency_end' : 'lat_end',
   'ei_start' : 'ei_rating_start',
   'ei_end' : 'ei_end',
   'coping_start' : 'coping_base-rating_start',
   'coping_end' : 'coping_end',
   'training_start' : 'training_start',
   'training_end' : 'training_end' 
   }
   rel_time_df = time_df[time_df['label'].isin(timestamps.values())]
   rel_time_df['label'] = rel_time_df['label'].map({v: k for k, v in timestamps.items()})
   rel_time_df.reset_index(drop=True, inplace=True)
   rel_time_df['timestamp'] = pd.to_datetime(rel_time_df['timestamp'], errors='coerce')
   rel_time_df.sort_values(by='timestamp', inplace=True)
   start_exp_index = rel_time_df[rel_time_df['label'] == 'start_exp'].index
   if not start_exp_index.empty:
      start_exp_index = start_exp_index[0]
      rel_time_df['time_since_start_exp'] = (rel_time_df['timestamp'] - rel_time_df.loc[start_exp_index, 'timestamp']).dt.total_seconds().round(2)
   else:
      rel_time_df['time_since_start_exp'] = float('NaN')
      
   events = ['latency', 'ei', 'coping', 'training']
      
   event_dfs = {}

   for event in events:
      event_start = rel_time_df[rel_time_df['label'] == f'{event}_start']
      event_end = rel_time_df[rel_time_df['label'] == f'{event}_end']
      
      if not event_start.empty and not event_end.empty:
         event_range = data_df[
               (data_df[' timestamp'] >= event_start['time_since_start_exp'].iloc[0]) & 
               (data_df[' timestamp'] <= event_end['time_since_start_exp'].iloc[0])
         ]
         
         event_range.reset_index(drop=True, inplace=True)
         
         event_dfs[event] = event_range
         
   return event_dfs

In [12]:
from tslearn.utils import to_time_series_dataset

In [15]:
X = to_time_series_dataset([event_dfs['latency'].iloc[:,5:], np.zeros((632, 35)), np.zeros((6322, 35))])

In [19]:
X[1].shape

(6322, 35)

In [ ]:
with open(coping_file_path, 'r') as f:
    coping_data = json.load(f)